<ons-page id="completed_list_html" ng-device-backbutton="app.menu.open()">

    <ons-toolbar>
        <div class="left">
            <ons-toolbar-button ng-click="app.menu.open()" class="menu-open">
                <span class="toolbar-button--quiet navigation-bar__line-height" >
                    <i class="ion-navicon"></i>
                </span>
            </ons-toolbar-button>
        </div>

        <div class="center">{{ 'COMPLETED_LIST' | translate}}</div>

        <div class="right" ng-click="clear_completed_list()">
            <ons-toolbar-button>
                <i class="icon ion-close-circled"></i>
            </ons-toolbar-button>
        </div>
    </ons-toolbar>

    <!-- --------------------------------------------------------- -->

    <ons-list>
        <ons-list-item modifier="tappable chevron" 
                       class="list-item-container"
                       ng-repeat="item in completed_list" 
                       ng-class="item_id_{{item.id}}" 
                       ng-click="open_item_page(item.isbn)">
            <ons-icon icon="ion-ios-checkmark-outline" size="20px" ng-click="undo_item(item.id, $event)" ></ons-icon>
            <span class="title">
                {{item.title}}
            </span>
            <span class="call_number">
                {{item.call_number}}
            </span>
        </ons-list-item>
    </ons-list>
</ons-page>