<ons-popover direction="up down" cancelable 
             ng-init="_learn_flashcard = ctl_learn_flashcard.var.learn_flashcard">
    <ons-list>
        <ons-list-item 
            ng-click="ctl_activity.speak(_learn_flashcard.q);
            ctl_learn_flashcard.var.more_menu.hide();">
            英文發音
        </ons-list-item>
        <ons-list-item 
            ng-click="ctl_activity.speak(_learn_flashcard.a);
            ctl_learn_flashcard.var.more_menu.hide();">
            中文發音
        </ons-list-item>
        <ons-list-item 
            ng-click="ctl_note.enter()
            ctl_learn_flashcard.var.more_menu.hide();">
            撰寫筆記
        </ons-list-item>
    </ons-list>
</ons-popover>