<ons-page id="learn_flashcard_html" class="learn-flashcard-page" ng-device-backbutton="main_back()" ng-init="_learn_flashcard = ctl_learn_flashcard.var.learn_flashcard">
    <ons-toolbar>
        <div class="left">
            <ons-toolbar-button ng-click="app.menu.open()" class="menu-open">
                <span class="toolbar-button--quiet navigation-bar__line-height" >
                    <i class="ion-navicon"></i>
                </span>
            </ons-toolbar-button>
        </div>

        <div class="center">單字學習</div>

        <div class="right" style="line-height: 44px;" >
            <span ng-init="_target_data = ctl_target.status.learn_flashcard" 
                 ng-class="{'target-completed': (_target_data.done > _target_data.target-1)}"
                 ng-click="ctl_target.enter_for_view()">
                {{ _target_data.done}} / {{ _target_data.target}}
            </span>
            
            <ons-icon icon='ion-android-more-vertical' fixed-width="true" class="more-button" 
                      ng-click="ctl_learn_flashcard.open_more_menu($event)"></ons-icon>
        </div>
    </ons-toolbar>

    <div class="flashcard" style="margin: 0 1rem; border: 1px solid #DDD; border-radius: 4px;">
        
        <!-- 英文的部分 -->
        <ons-row class="q" ng-click="ctl_activity.speak(ctl_learn_flashcard.var.learn_flashcard.q, 'en')"
                 style="padding:1rem; text-align: center;display: block;background-color: white; cursor: pointer">
            <i class="ion-radio-waves hide" style="float:left;font-size: 1.5rem;margin-right: 0.5rem;color:#999;visibility: hidden;"></i>
            {{ ctl_learn_flashcard.var.learn_flashcard.q}}
            <i class="ion-radio-waves" style="float:right;font-size: 1.5rem;margin-right: 0.5rem;color:#999"></i>
        </ons-row>
        
        <!-- 中文的部分 -->
        <ons-row class="a" ng-click="ctl_activity.speak(ctl_learn_flashcard.var.learn_flashcard.a, 'zh')"
                 style="border-top: 1px solid #DDD; background-color: #EEE;padding: 1rem;text-align: center;display: block;cursor: pointer" >
            <i class="ion-radio-waves hide" style="float:left;font-size: 1.5rem;margin-right: 0.5rem;color:#999;visibility: hidden;"></i>
            {{ ctl_learn_flashcard.var.learn_flashcard.a}}
            <i class="ion-radio-waves" style="float:right;font-size: 1.5rem;margin-right: 0.5rem;color:#999"></i>
        </ons-row>
    </div>

    <div class="note" ng-click="ctl_note.enter()"
         style=" margin:1rem;   padding: 1rem;  border-radius: 4px;border: 1px solid #ddd; cursor: pointer;
         background-color: #f9f9f9;max-height: 10rem; overflow-y: auto;">
        <div style="clear: both;">
            <i class="ion-compose" style="float:left;font-size: 2rem;margin-right: 0.5rem;"></i>
            
            <span class="your-note" ng-show="(_learn_flashcard.note !== null)">
                {{ _learn_flashcard.note}}
            </span>
            <span class="note-empty" style="color: gray;" ng-show="(_learn_flashcard.note === null)">
                您還沒有撰寫筆記
            </span>


        </div>

        <span class="notification" style="float: right;margin-top: 0.5rem;">
            <span class="load-icon">
                <ons-icon icon="ion-load-a"/>
            </span>
            <span class="notification-text" style="display: none;">
                其他人的筆記:
                <span class="count"></span>
            </span>
        </span>
    </div>

    <!--
    <div>_learn_flashcard.other_note_loaded: {{_learn_flashcard.other_note_loaded}} </div>
    <div style="border: 1px solid red; margin-bottom: 1rem;">_learn_flashcard: {{ _learn_flashcard}}</div>
    <div style="border: 1px solid red; margin-bottom: 1rem;">ctl_learn_flashcard.status: {{ ctl_learn_flashcard.status}}</div>
    -->

    <ons-tabbar>
        <ons-tab label="上一個單字" icon="ion-arrow-up-b" 
                 ng-click="ctl_learn_flashcard.prev();" 
                 ng-show="(ctl_learn_flashcard.status.history_index > 0)"></ons-tab>
        <ons-tab label="進入測驗" icon="ion-ios-compose" 
                 ng-show="(ctl_activity.is_learn_enough() === true)"
                 ng-click="ctl_test_select.next(true);" ></ons-tab>
        <ons-tab label="下一個單字" icon="ion-arrow-down-b" 
                 ng-click="ctl_learn_flashcard.next();"></ons-tab>
    </ons-tabbar>

</ons-page>