<ons-page modifier="menu-page" id="menu_html"> 
    <ons-row class="target-status menu-heading" style="cursor: pointer;">

        <div class="left" style="padding: 0.5rem; font-size: 12pt;" 
             ng-click="ctl_target.enter_from_menu();
                 menu_click($event);"
             ng-show"ctl_target.get_complete_percent() !== undefined" >
             {{ ctl_profile.status.name}} 
            <div ng-show="ctl_target.is_target_setted() && !CONFIG.control_group_version"
                 ng-class="{'target-incompleted': (ctl_target.get_complete_percent() < 100)}">
                {{ 'TARGET_MENU_STATUS' | translate }}
                <span class="complete-percent" > {{ ctl_target.get_complete_percent()}}%</span> 
            </div>
        </div>

        <div class="right" style="position: absolute;right: 0;">
            <ons-toolbar-button class="menu-close" ng-click="app.menu.close()">
                <ons-icon icon="ion-arrow-left-a" fixed-width="true"></ons-icon>
            </ons-toolbar-button>
        </div>

    </ons-row>

    <!-- ======================================================= -->

    <ons-list>
        <ons-list-item ng-click="ctl_target.enter_from_menu();
            menu_click($event);" ng-show="!CONFIG.control_group_version">
            <ons-icon icon="ion-ios-pie-outline" fixed-width="true"></ons-icon>
            <span class="menu-label">
                {{ 'TARGET_MENU_TITLE' | translate }}
            </span>
            <span  class="right" style="float:right" 
                   ng-class="{'target-incompleted': (ctl_target.get_complete_percent() < 100)}"
                   ng-show="ctl_target.is_target_setted() && !CONFIG.control_group_version">
                {{ ctl_target.get_complete_percent()}}%
            </span>
        </ons-list-item>

        <ons-list-item ng-click="ctl_learn_flashcard.enter(false);
            menu_click($event);">
            <ons-icon icon="ion-ios-browsers-outline" fixed-width="true"></ons-icon>
            <span class="menu-label">
                {{ 'LEARN_FLASHCARD_TITLE' | translate }}
            </span>

            <span  class="right" style="float:right"
                   ng-class="{'target-incompleted': (ctl_target.status.learn_flashcard.done < ctl_target.status.learn_flashcard.target)}"
                   ng-show="ctl_target.status.learn_flashcard.target !== 0 && !CONFIG.control_group_version">
                {{ ctl_target.status.learn_flashcard.done}} / {{ ctl_target.status.learn_flashcard.target}}
            </span>
        </ons-list-item>
        
        <ons-list-item ng-click="ctl_note_list.enter();
            menu_click($event);">
            <ons-icon icon="ion-edit" fixed-width="true"></ons-icon>
            <span class="menu-label">
                筆記列表
            </span>

            <span  class="right" style="float:right"
                   ng-class="{'target-incompleted': (ctl_target.status.take_note.done < ctl_target.status.take_note.target)}"
                   ng-show="ctl_target.status.take_note.target !== 0 && !CONFIG.control_group_version">
                {{ ctl_target.status.take_note.done}} / {{ ctl_target.status.take_note.target}}
            </span>
        </ons-list-item>

        <ons-list-item ng-click="ctl_test_select.enter();
            menu_click($event);">
            <ons-icon icon="ion-ios-compose-outline" fixed-width="true"></ons-icon>
            <span class="menu-label">
                {{ 'TEST_SELECT_TITLE' | translate }}
            </span>
            <span class="right" style="float:right"
                  ng-class="{'target-incompleted': (ctl_target.status.test_select.done < ctl_target.status.test_select.target)}"
                  ng-show="ctl_target.status.test_select.target !== 0 && !CONFIG.control_group_version">
                {{ ctl_target.status.test_select.done}} / {{ ctl_target.status.test_select.target}}
            </span>
        </ons-list-item>
    </ons-list>

    <div class="bottom-bar" style="text-align: center">
        <ons-row class="bottom-bar__line-height">
            <ons-col ng-click="exit_app();">
                <ons-icon icon="ion-android-exit" fixed-width="true"></ons-icon>
                <!--
                <span>
                    {{ 'EXIT_APP' | translate }}
                </span>
                -->
            </ons-col>
            <ons-col style="text-align: right;"
                     ng-click="app.navi.replacePage('setting.html', {animation: 'none'});
                         menu_click($event);"
                         ng-dblclick="ctl_setting.toggle_debug_mode($event)">
                <ons-icon icon="ion-android-settings" fixed-width="true"></ons-icon>
                <!--
                <span>
                    {{ 'SETTING' | translate }}
                </span>
                -->
            </ons-col>
        </ons-row>
    </div>

</ons-page>
