<ons-page modifier="menu-page" id="menu_html"> 
    <ons-toolbar modifier="transparent">
        <div class="right">
            <ons-toolbar-button class="menu-close" ng-click="app.menu.close()">
                <i class="icon ion-arrow-left-a"></i>
            </ons-toolbar-button>
        </div>
        
        <div class="center">{{ 'TITLE' | translate}}</div>
    </ons-toolbar>
    
    <!-- ======================================================= -->
    
    <ons-list>
        <ons-list-item ng-click="ctl_target.enter_from_menu();menu_click($event);">
            <i class="icon ion-ios-pie-outline"></i>
            <span class="menu-label">
                目標檢視
            </span>
        </ons-list-item>
        
        <ons-list-item class="menu-active"
                ng-click="ctl_learn_flashcard.enter();menu_click($event);">
            <i class="icon ion-ios-browsers-outline"></i>
            <span class="menu-label">
                學習單字
            </span>
        </ons-list-item>
        
        <ons-list-item ng-click="ctl_test_select.next();menu_click($event);">
            <i class="icon ion-ios-compose-outline"></i>
            <span class="menu-label">
                測驗
            </span>
        </ons-list-item>
        
        <ons-list-item ng-click="app.navi.replacePage('setting.html', {animation: 'none'});menu_click($event);">
            <i class="icon ion-ios-settings"></i>
            <span class="menu-label">
                {{ 'SETTING' | translate}}
            </span>
        </ons-list-item>

        <ons-list-item ng-click="exit_app();">
            <i class="icon ion-android-exit"></i>
            <span class="menu-label">
                {{ 'EXIT_APP' | translate}}
            </span>
        </ons-list-item>
    </ons-list>
</ons-page>