<ons-page modifier="menu-page" id="menu_html"> 
    <ons-toolbar modifier="transparent">
        <div class="right">
            <ons-toolbar-button class="menu-close" ng-click="app.menu.close()">
                <i class="icon ion-arrow-left-a"></i>
            </ons-toolbar-button>
        </div>
        
        <div class="center">{{ 'TITLE' | translate}}</div>
        
    </ons-toolbar>
    <ons-list>
        <ons-list-item ng-click="app.navi.replacePage('main.html', {animation: 'none'});
        load_todo_list();
        menu_click($event);" class="menu-active">
            <i class="icon ion-ios-list-outline"></i>
            <span class="menu-label">
                {{ 'TODO_LIST' | translate}}
            </span>
        </ons-list-item>
        <ons-list-item ng-click="app.navi.replacePage('completed_list.html', {animation: 'none'});
        load_completed_list();
        menu_click($event);">
            <i class="icon ion-ios-checkmark-outline"></i>
            <span class="menu-label">
                {{ 'COMPLETED_LIST' | translate}}
            </span>
        </ons-list-item>
        <ons-list-item ng-click="app.navi.replacePage('setting.html', {animation: 'none'});
        menu_click($event);">
            <i class="icon ion-ios-settings"></i>
            <span class="menu-label">
                {{ 'SETTING' | translate}}
            </span>
        </ons-list-item>
        <ons-list-item ng-click="app.navi.replacePage('about.html', {animation: 'none'});
        menu_click($event);">
            <i class="icon ion-ios-information-outline"></i>
            <span class="menu-label">
                {{ 'ABOUT' | translate}}
            </span>
        </ons-list-item>

        <ons-list-item ng-click="exit_app();">
            <i class="icon ion-android-exit"></i>
            <span class="menu-label">
                {{ 'EXIT_APP' | translate}}
            </span>
        </ons-list-item>
    </ons-list>
</ons-page>