<ons-page id="note_html" ng-device-backbutton="app.navi.popPage()"
          ng-init="_learn_flashcard = ctl_learn_flashcard.var.learn_flashcard">

    <ons-toolbar>

        <div class="left">
            <ons-toolbar-button ng-click="app.navi.popPage()">
                <span class="toolbar-button--quiet navigation-bar__line-height" >
                    <i class="ion-android-arrow-back"></i>
                </span>
            </ons-toolbar-button>
        </div>

        <div class="center">{{ _learn_flashcard.q}} 筆記</div>

        <div class="right"
             ng-class="{'target-incompleted': (ctl_target.status.take_note.done < ctl_target.status.take_note.target)}"
             ng-click="ctl_target.enter_for_view()"
             ng-show="ctl_target.status.take_note.target !== 0 && !CONFIG.control_group_version">
            {{ ctl_target.status.take_note.done}} / {{ ctl_target.status.take_note.target}}
        </div>
    </ons-toolbar>

    <!-- ==================================== -->

    <div class="flashcard" 
         style="margin: 0 1rem; border: 1px solid #DDD; border-radius: 4px; text-align: center;">
        {{ _learn_flashcard.q}} / {{ _learn_flashcard.a}}
    </div>

    <div style="max-height: calc(100% - 140px); overflow-y: auto;">
        <ons-row>
            <textarea class="note textarea textarea--transparent" placeholder="撰寫筆記..."
                      ng-keyup="ctl_note.auto_grow($event)"
                      style=" margin:1rem;   padding: 1rem;  border-radius: 4px;border: 1px solid #ddd; 
                      background-color: #f9f9f9; overflow-y: auto;width: 100%;">{{ _learn_flashcard.note}}</textarea>
        </ons-row>

        <ons-list modifier="inset">
            <ons-list-item 
                ng-repeat="other_note in ctl_learn_flashcard.var.learn_flashcard.other_note" 
                ng-click="ctl_note.copy(other_note.note, other_note.uuid)"
                style="cursor: pointer;">
                <span class="user" style="font-weight: bold;">
                    {{ other_note.name}}:
                </span>

                <span class="note" style="white-space: pre;">{{ other_note.note}}</span>
            </ons-list-item>
        </ons-list>

    </div>

    <!-- ==================================== -->

    <ons-tabbar ng-click="ctl_note.submit($event)">
        <ons-tab label="{{ 'ONS_OK' | translate }}" ></ons-tab>
    </ons-tabbar>

</ons-page>