<ons-page id="setting_html" ng-device-backbutton="app.menu.open()">

    <ons-toolbar>
        <div class="left">
            <ons-toolbar-button ng-click="app.menu.open()" class="menu-open">
                <span class="toolbar-button--quiet navigation-bar__line-height" >
                    <i class="ion-navicon"></i>
                </span>
            </ons-toolbar-button>
        </div>

        <div class="center">
            {{ 'SETTING' | translate}}
        </div>

    </ons-toolbar>

    <!-- --------------------------------------------------------- -->

    <ons-list modifier="inset" class="settings-list">
        <ons-list-item modifier="chevron" ng-click="clear_list()">
            <i class="icon ion-close-circled" size="20px"></i>
            {{ 'CLEAR_ALL_LIST' | translate}}
        </ons-list-item>
        <ons-list-item modifier="chevron" onclick="location.href = 'mailto:pulipuli.chen@gmail.com?subject=[NCCU-BOOK-CART]'">
            <ons-icon icon="ion-android-mail" size="20px"></ons-icon>
            {{ 'SUGGESTION' | translate}}
        </ons-list-item>
        <ons-list-item modifier="chevron" ng-click="share_app()">
            <ons-icon icon="ion-android-share-alt" size="20px"></ons-icon>
            {{ 'SHARE_APP' | translate}}
        </ons-list-item>
    </ons-list>
</ons-page>