<ons-page id="setting_html" 
          ng-device-backbutton="main_back()" 
          ng-init="profile = ctl_profile.status">

    <ons-toolbar>
        <div class="left">
            <ons-toolbar-button ng-click="app.menu.open()" class="menu-open">
                <span class="toolbar-button--quiet navigation-bar__line-height" >
                    <ons-icon icon="ion-navicon" fixed-width="true"></ons-icon>
                </span>
            </ons-toolbar-button>
        </div>

        <div class="center">
            {{ 'SETTING' | translate}}
        </div>

    </ons-toolbar>

    <!-- --------------------------------------------------------- -->

    <ons-list modifier="inset" class="settings-list">
        <ons-list-item>
            <ons-row>
                <ons-col width="200px">
                    <ons-icon icon="ion-person" size="20px"></ons-icon>
                    您的名稱 <!-- @TODO 語系 -->
                </ons-col>
                <ons-col style="text-align: right;">
                    <input type="text" ng-model="profile.name"
                           ng-change="ctl_profile.change_user_name();db_status.save_status('profile')"
                           class="text-input text-input--transparent"
                           placeholder="請輸入您的名字"
                           name="name"
                           style="width:calc(100% - 30px);font-size: 17px;margin:0;border-bottom: 1px solid gray;">
                    <!-- @TODO 語系 -->
                </ons-col>
            </ons-row>
        </ons-list-item>
        
        <ons-list-item modifier="chevron" ng-click="app.navi.pushPage('target_edit.html')" ng-show="!CONFIG.control_group_version">
            <ons-icon icon="ion-ios-pie" size="20px"></ons-icon>
            設定目標 <!-- @TODO 語系 -->
        </ons-list-item>
        
        <ons-list-item modifier="chevron" ng-click="ctl_setting.share_app()" style="display:none;">
            <ons-icon icon="ion-android-share-alt" size="20px"></ons-icon>
            {{ 'SHARE_APP' | translate}}
        </ons-list-item>
        
        <ons-list-item modifier="chevron" ng-click="app.navi.pushPage('about.html')">
            <ons-icon icon="ion-information-circled" size="20px"></ons-icon>
            {{ 'ABOUT' | translate}}
        </ons-list-item>
        
        <ons-list-item modifier="chevron" ng-click="ctl_setting.open_log()" ng-show="CONFIG.enable_log">
            <ons-icon icon="ion-pound" size="20px"></ons-icon>
            偵錯記錄 <!-- @TODO 語系 -->
        </ons-list-item>
        
        <ons-list-item modifier="chevron" ng-click="ctl_setting.reset_app()" ng-show="CONFIG.enable_reset">
            <ons-icon icon="ion-refresh" size="20px"></ons-icon>
            重置 <!-- @TODO 語系 -->
        </ons-list-item>
    </ons-list>
</ons-page>