<ons-page id="target_edit_html" class="target-page" 
          ng-device-backbutton="$($event.target).find('.button-ok').click()">
    <form ng-submit="ctl_target.set_target($event);
            app.navi.popPage()">
        <ons-toolbar>
            <div class="center">{{ ctl_target.get_set_title()}}</div>
        </ons-toolbar>

        <!-- ======================================= -->

        <ons-list modifier="inset">
            <ons-list-item ng-repeat="data in ctl_target.status"
                           ng-init="setting = ctl_target.var.target_setting[$index]"
                           ng-class="{'bg-success': (ctl_target.get_max_target(setting.key) === 0)}">
                <ons-row>
                    <ons-col class="title" ng-click="ctl_target.show_help(setting.key)">
                        {{ setting.title}}
                        <ons-icon icon="ion-ios-help-outline" fixed-width="true"></ons-icon>
                    </ons-col>

                    <ons-col width="50" style="text-align: right" ng-show="(ctl_target.get_max_target(setting.key) > 0)">
                        <ons-icon icon="ion-ios-minus-outline" fixed-width="true" 
                                  ng-click="ctl_target.change_target_number($event, -1)"></ons-icon>
                        <input min="{{ setting.min}}" max="{{ ctl_target.get_max_target(setting.key)}}" type="number" 
                               value="{{ data.target}}"
                               target_key="{{ setting.key }}"
                               class="target-input" />
                        <ons-icon icon="ion-ios-plus-outline" fixed-width="true" 
                                  ng-click="ctl_target.change_target_number($event, 1)"></ons-icon>
                    </ons-col>
                    <ons-col width="50" style="text-align: right"  ng-show="(ctl_target.get_max_target(setting.key) === 0)">
                        已經全部完成
                    </ons-col>
                </ons-row>
                <ons-row class="recommend" ng-show="(ctl_target.get_max_target(setting.key) > 0)">
                    <ons-col align="right">
                        {{ ctl_target.get_max_target(setting.key)}}
                        {{ 'TARGET_MENU_IMCOMPLETE' | translate }}
                    </ons-col>
                </ons-row>
            </ons-list-item>
        </ons-list>

        <!-- ======================================= -->

        <ons-tabbar>
            <ons-tab label="{{ 'ONS_OK' | translate }}"></ons-tab>
        </ons-tabbar>

        <!-- ======================================= -->

        <ons-modal var="target_help_modal" ng-click="target_help_modal.hide()" class="target-help-modal">
            <img ng-src="{{ ctl_target.var.target_help.help_img }}" />
            <div class="message">{{ ctl_target.var.target_help.help }}</div>
            <ons-button>{{ "ONS_OK" | translate }}</ons-button>
        </ons-modal>
    </form>
</ons-page>