<ons-page id="target_view_html" class="target-page" 
          ng-device-backbutton="main_back()">
    <ons-toolbar>
        <div class="left">
            <ons-toolbar-button ng-click="app.menu.open()" class="menu-open">
                <span class="toolbar-button--quiet navigation-bar__line-height" >
                    <ons-icon icon="ion-navicon" fixed-width="true"></ons-icon>
                </span>
            </ons-toolbar-button>
        </div>
        
        <div class="center">{{ ctl_target.get_view_title()}}</div>

        <div class="right" ng-click="app.navi.pushPage('target_edit.html')" 
             ng-show="ctl_target.is_all_finish() === false">
            <ons-toolbar-button>
                <ons-icon icon="ion-edit" fixed-width="true"></ons-icon>
            </ons-toolbar-button>
        </div>
    </ons-toolbar>
    
    <!-- ======================================= -->

    <ons-list modifier="inset">
        <ons-list-item ng-repeat="data in ctl_target.status" 
                       ng-class="{'bg-danger': (data.done < data.target), 'bg-success': (ctl_target.get_max_target(setting.key) === 0)}">
            <ons-row ng-init="setting = ctl_target.var.target_setting[$index]">
                <ons-col class="title" ng-click="ctl_target.show_help(setting.key)">
                    {{ setting.title}}
                    <ons-icon icon="ion-ios-help-outline" fixed-width="true"></ons-icon>
                </ons-col>

                <ons-col width="50" style="text-align: right">
                    {{ ctl_target.display_target(setting.key, data.done, data.target) }}
                    <ons-icon icon="ion-checkmark-circled" fixed-width="true"
                              ng-show="ctl_target.is_all_finish(setting.key)"></ons-icon>
                </ons-col>
            </ons-row>
        </ons-list-item>
    </ons-list>

    <!-- ======================================= -->

    <ons-modal var="target_help_modal" ng-click="target_help_modal.hide()" class="target-help-modal">
        <img ng-src="{{ ctl_target.var.target_help.help_img}}" />
        <div class="message">{{ ctl_target.var.target_help.help}}</div>
        <ons-button>{{ "ONS_OK" | translate }}</ons-button>
    </ons-modal>
</ons-page>