#test_select_html .options .correct {
    background-color: green;
}

#test_select_html .options .incorrect {
    background-color: red;
}

.test-select-page .question {
    margin:1rem;   
    padding: 1rem;  
    border-radius: 4px;
    border: 1px solid #ddd; 
    cursor: pointer;
    /*background-color: #f9f9f9;*/
    max-height: 10rem;
    overflow-y: auto;
    text-align: center;
}

.test-select-page .question .speak {
    /*float:left;*/
    /*
    font-size: 1.5rem;
    margin-right: 0.5rem;
    color:#999;*/
    /*visibility: hidden;*/
}

.test-select-page .hint {
    text-align: center;
    margin: 1rem;
    display: none;
    max-height: 7rem;
    overflow-y: auto;
    
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}
/*.test-select-page .hint.show {
    display: block
}*/

.test-select-page .hint .pre {
    white-space: pre;
    /*border: 1px solid #DDD;
    border-radius: 4px;*/
}

.test-select-page .hint.opened {
    border: 1px solid #DDD;
    border-radius: 4px;
}

.test-select-page .result {
    margin:1rem;   
    padding: 1rem; 
    border-radius: 4px;
    border: 1px solid #ddd;    
    color:white;
    max-height: 10rem;
    overflow-y: auto;
    text-align: center;
    cursor: pointer;
}

.test-select-page .result.correct {
    background-color: green;
}

.test-select-page .result.incorrect {
    background-color: red;
}

@media (max-height: 500px) {
    .test-select-page .ons-tab-bar__footer {
        display: none;
    }
}