
.split .page--menu-page .menu-close {
    display: none;
}

ons-page ons-toolbar ons-toolbar-button .ion-navicon {
    font-size:32px; 
    vertical-align:-6px;
}

/**
 * 選單背景反白
 */
.page--menu-page__background {
    background-color: #333;
}
#menu_html ons-list.ons-list-inner {
    background-color: transparent;
}

#menu_html ons-list-item,
#menu_html ons-toolbar-button .toolbar-button,
#menu_html ons-toolbar .center {
    color: white;
}

#menu_html .menu-active {
    background-color: #666;
}

/**
 * RWD
 */
@media screen and (min-width: 550px) {
    .onsen-sliding-menu__menu {
        display: block !important;
        z-index: 3;
        position: absolute;
        touch-action: none;
        transform:none !important;
    }

    .onsen-sliding-menu__main {
        width: calc(100% - 200px);
        left: 200px;
        z-index: 4;
    }

    ons-toolbar-button.menu-open,
    #menu_html ons-toolbar-button.menu-close {
        display:none;
    }
    .onsen-sliding-menu__main.menu-open {
        left: 0;
    }

    /**
     * 選單背景反白
     */
    .page--menu-page__background {
        background-color: #FFF;
    }
    #menu_html ons-list-item,
    #menu_html ons-toolbar .center {
        color: black;
    }
    
    #menu_html .menu-active {
        background-color: #CCC;
    }

/*    #menu_html ons-toolbar-button .toolbar-button {
        color: white;
    }*/
}   /* @media screen and (min-width: 700px) { */

@media screen and (min-width: 400px) and (max-width: 550px) {

    .onsen-sliding-menu__menu {
        display: block !important;
        z-index: 3;
        position: absolute;
        touch-action: none;
        transform:none !important;
        width: 40px;
    }

    .onsen-sliding-menu__menu .menu-label {
        display: none;
    }

    .onsen-sliding-menu__main {
        width: calc(100% - 40px);
        left: 40px;
        z-index: 4;
    }

    ons-toolbar-button.menu-open,
    #menu_html ons-toolbar-button.menu-close {
        display:none;
    }
    .onsen-sliding-menu__main.menu-open {
        left: 0;
    }
    
    #menu_html ons-toolbar .center {
        display:none;
    }
}   /* @media screen and (min-width: 400px) and (max-width: 700px) { */
