.search-input {
    margin: 10px 0;
    width: calc(100% - 29px);
    height: 34px;
    border-radius: 4px 0 0 4px;
    box-sizing: content-box;
}

body.web-view .search-input {
    height: 38px;
}

#scan_barcode {
    width: 100%;
}

#main_html ons-button {
    margin-top: 10px;
}

ons-list-item.location {
    background-color: #CCC;
}

ons-list ons-list-item.list-item-container .title {
    font-weight: bold;
}

ons-list ons-list-item.list-item-container .call_number {
    font-size: smaller;color: orange;
}

ons-list ons-list-item.list-item-container .update_timestamp,
ons-list ons-list-item.list-item-container .id {
    display: none;
}